<?xml version="1.0"?>
<launch>
    <!-- Launch Gazebo with ROS control -->
    <include file="$(find yj10_gazebo)/launch/gazebo_control.launch" />
    <!-- Launch MoveIt -->
    <include file="$(find yj10_moveit_config)/launch/demo.launch" pass_all_args="true">
        <!-- robot_description is loaded by gazebo.launch, to enable Gazebo features -->
        <arg name="load_robot_description" value="false" />
        <arg name="moveit_controller_manager" value="ros_control" />
    </include>

</launch>